:root body[data-theme='green'] {
  --sl-color-primary-50: var(--sl-color-blue-50);
  --sl-color-primary-100: var(--sl-color-blue-100);
  --sl-color-primary-200: var(--sl-color-blue-200);
  --sl-color-primary-300: var(--sl-color-blue-300);
  --sl-color-primary-400: var(--sl-color-blue-400);
  --sl-color-primary-500: var(--sl-color-blue-500);
  --sl-color-primary-600: var(--sl-color-blue-600);
  --sl-color-primary-700: var(--sl-color-blue-700);
  --sl-color-primary-800: var(--sl-color-blue-800);
  --sl-color-primary-900: var(--sl-color-blue-900);
  --sl-color-primary-950: var(--sl-color-blue-950);

  --sl-color-secondary-50: var(--sl-color-green-50);
  --sl-color-secondary-100: var(--sl-color-green-100);
  --sl-color-secondary-200: var(--sl-color-green-200);
  --sl-color-secondary-300: var(--sl-color-green-300);
  --sl-color-secondary-400: var(--sl-color-green-400);
  --sl-color-secondary-500: var(--sl-color-green-500);
  --sl-color-secondary-600: var(--sl-color-green-600);
  --sl-color-secondary-700: var(--sl-color-green-700);
  --sl-color-secondary-800: var(--sl-color-green-800);
  --sl-color-secondary-900: var(--sl-color-green-900);
  --sl-color-secondary-950: var(--sl-color-green-950);
}